# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml

persistence:
  enabled: true

configmapReload:
  prometheus:
    enabled: false

server:
  global:
    scrape_interval: 5s
    scrape_timeout: 5s

  resources:
     limits:
       cpu: 500m
       memory: 512Mi
     requests:
       cpu: 200m
     memory: 256Mi

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: 'otel-collector'
        static_configs:
          - targets:
            - otel-collector-opentelemetry-collector.observability.svc.cluster.local:9090

      - job_name: 'mongo'
        static_configs:
          - targets:
              - prometheus-mongodb-exporter-0.mongo.svc.cluster.local:9216
              - prometheus-mongodb-exporter-1.mongo.svc.cluster.local:9216
              - prometheus-mongodb-exporter-2.mongo.svc.cluster.local:9216

      - job_name: 'etcd'
        static_configs:
          - targets:
            - etcd-0.etcd.etcd.svc.cluster.local:8080
            - etcd-1.etcd.etcd.svc.cluster.local:8080
            - etcd-2.etcd.etcd.svc.cluster.local:8080

alertmanager:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false

prometheus-pushgateway:
  enabled: false

resources:
  limits:
    cpu: "250m"
    memory: "128Mi"
  requests:
    cpu: "100m"
    memory: "64Mi"
